@import url("./rootEReset.css");

.banner {
  width: 100%;
  height: 600px;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* banner especificos */

.desenvolvimentoWeb {
  background-image: url("../Assets/imagens/desenvolvimentoWeb.jpg");
}

.desenvolvimentoJogos {
  background-image: url("../Assets/imagens/DesenvolvimentoDeJogos.jpg");
  background-position: bottom;
}

.analistaQA {
  background-image: url("../Assets/imagens/analistaDeQA.jpg");
}

.aiMachine {
  background-image: url("../Assets/imagens/InteligenciaArtificial.jpg");
}

.ciberseguranca {
  background-image: url("../Assets/imagens/ciberseguranca.jpg");
}

/* fim especificos */

.bannerTitulo {
  min-width: 320px;
  padding: 0 10%;
  font-family: var(--fonte-titulo);
  color: var(--cor-branco);
  font-size: var(--clamp-titulo-1);
  text-align: center;
  z-index: 0;
  position: fixed;
  margin-top: -200px;
}


.conteudoPrincipal {
  width: 100%;
  min-height: 100vh;
  z-index: 2;
  background-color: var(--cor-branco);
  filter: drop-shadow(0 -75px 30px rgba(86, 145, 227, 0.8));
}

.apresentacao {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.apresentacaoTitulo {
  font-family: var(--fonte-titulo);
  font-size: var(--clamp-titulo-2);
  color: var(--cor-tom);
  min-width: 320px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.apresentacaoTexto {
  font-family: var(--fonte-padrao);
  color: var(--cor-preto);
  font-size: var(--clamp-texto-padrao);
  font-weight: 500;
  line-height: 1.5;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

.bootCampConteudo1 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;
  gap: 50px;
  padding: 0 100px;
  padding-bottom: 100px;
  
}

.conteudo1Img {
  width: 40%;
  min-width: 320px;
}

.conteudo1ImgImg {
  width: 100%;
  height: auto;
}

.conteudo1Textos {
  width: 40%;
  min-width: 320px;
}

.conteudo1Lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.conteudo1ListaItem {
  font-weight: 500;
  font-family: var(--fonte-padrao);
  font-size: var(--clamp-texto-padrao);
  color: var(--cor-preto);
  line-height: 1.5;
}

.conteudo1ListaItemDestaque {
  color: var(--cor-dark);
  font-weight: 600;
}

.tecnologiasLista {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
}

.tecnologiasLista li {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.iconTecnologias {
  width: 48px;
  height: 48px;
}

/* tecnologias especificas */

.iconHtml {
  background-image: url("../Assets/imagens/html.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconCss {
  background-image: url("../Assets/imagens/CSS.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconJavaScript {
  background-image: url("../Assets/imagens/js-file.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconNodeJs {
  background-image: url("../Assets/imagens/node.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconReact {
  background-image: url("../Assets/imagens/react.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconMongoDb {
  background-image: url("../Assets/imagens/mongoDB.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconUnity {
  background-image: url("../Assets/imagens/unity.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconUnreal {
  background-image: url("../Assets/imagens/UnReal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconCSharp {
  background-image: url("../Assets/imagens/c-sharp.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconBlender {
  background-image: url("../Assets/imagens/blender.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconPhotoshop {
  background-image: url("../Assets/imagens/Photoshop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconSelenium {
  background-image: url("../Assets/imagens/selenium.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconJUnit {
  background-image: url("../Assets/imagens/JUnit.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconTestNG {
  background-image: url("../Assets/imagens/testNG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconPostman {
  background-image: url("../Assets/imagens/postman.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:  cover;
}

.iconJira {
  background-image: url("../Assets/imagens/jira.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconJenkins {
  background-image: url("../Assets/imagens/Jenkins-Symbol.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iconPython {
  background-image: url("../Assets/imagens/python.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iconTensorFlow {
  background-image: url("../Assets/imagens/Tensorflow_logo.svg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iconKeras {
  background-image: url("../Assets/imagens/keras.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iconScikitLearn {
  background-image: url("../Assets/imagens/scikit.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconPyTorch {
  background-image: url("../Assets/imagens/PyTorch.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconPandas {
  background-image: url("../Assets/imagens/Pandas_logo.svg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconNumPy {
  background-image: url("../Assets/imagens/numpy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.iconFirewalls {
  background-image: url("../Assets/imagens/firewalls.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iconIdsIps {
  background-image: url("../Assets/imagens/IDS-IPS.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iconCriptografia {
  background-image: url("../Assets/imagens/criptografado.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iconAnaliseVulnerabilidades {
  background-image: url("../Assets/imagens/auditoria-de-seguranca.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* Fim tecnologias especificas */

.bootCampConteudo2 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
  gap: 30px;
} 


.conteudo2Textos {
  width: 50%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.conteudo2Titulo {
  width: 100%;
  font-family: var(--fonte-titulo);
  font-size: var(--clamp-titulo-3);
  color: var(--cor-tom);
  text-align: start;
}

.conteudo2Descricao {
  width: 100%;
  min-width: 300px;
  font-family: var(--fonte-padrao);
  font-size: var(--clamp-texto-padrao);
  color: var(--cor-preto);
  font-weight: 500;
  line-height: 1.5;
  text-align: start;
}

.cabecalhoConteudo2 {
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.conteudo2Lista {
  width: 100%;
  min-width: 320px;
  margin-top: 20px;
}

.conteudoCursoLista {
  width: 100%;
  min-height: 300px;
  list-style-type: square;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap:10px;
}

.conteudoCursoItem {
  font-family: var(--fonte-padrao);
  font-size: var(--clamp-texto-padrao);
  color: var(--cor-dark);
  font-weight: 500;
  line-height: 1.5;
}


.conteudo2Img {
  width: 30%;
  min-width: 320px;
}

.conteudo2ImgImg {
  width: 100%;
  height: auto;
}


.bootCampConteudo3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
  gap: 30px;
}

.conteudo3Img {
  width: 30%;
  min-width: 320px;
}

.conteudo3ImgImg {
  width: 100%;
  height: auto;
}

.conteudo3Textos {
  width: 50%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.conteudo3Titulo,
.conteudo3Titulo2 {
  width: 100%;
  font-family: var(--fonte-titulo);
  font-size: var(--clamp-titulo-3);
  color: var(--cor-tom);
}

.conteudo3Descricao {
  width: 80%;
  min-width: 300px;
  font-family: var(--fonte-padrao);
  font-size: var(--clamp-texto-padrao);
  font-weight: 500;
  line-height: 1.5;
  color: var(--cor-preto);
}

.conteudo3Lista {
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  list-style-type: square;
}

.conteudo3ListaItem {
  font-weight: 500;
  font-family: var(--fonte-padrao);
  font-size: var(--clamp-texto-padrao);
  color: var(--cor-preto);
}

.bootCampConteudo4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
  gap: 30px;
}

.conteudo4Textos {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteudo4Titulo,
.conteudo4Titulo2 {
  width: 100%;
  min-width: 320px;
  font-family: var(--fonte-titulo);
  font-size: var(--clamp-titulo-3);
  color: var(--cor-tom);
  margin-top: 30px;
}

.conteudo4Descricao,
.conteudo4Descricao2 {
  width: 80%;
  min-width: 300px;
  font-family: var(--fonte-padrao);
  font-size: var(--clamp-texto-padrao);
  font-weight: 500;
  line-height: 1.5;
  color: var(--cor-preto);
  text-align: center;
  margin-top: 30px;
}




.botaoFinal {
  font-family: var(--fonte-titulo);
  color: var(--cor-dark);
  font-size: 24px;
  font-weight: 600;
  padding: 5px 10px;
  border: solid 5px var(--cor-dark);
  border-radius: 50px;
  box-shadow: 15px 12px 9px -2px var(--cor-shadow-dark-fraco);
  margin-top: 50px;
}

.botaoFinal:hover {
  cursor: pointer;
  scale: 0.9;
  box-shadow: inset 6px 5px 8px 1px var(--cor-shadow-tom-forte);
  transition: all 300ms ease-in-out;
}



/* media query */

@media (max-width: 890px) {
  .bootCampConteudo1 {
    flex-direction: column;
    margin-top: 100px;
    padding: 0 10px;
  }

  .bootCampConteudo2 {
    flex-direction: column-reverse;
    padding: 50px 10px 50px 10px;
  }

  .bootCampConteudo3 {
    flex-direction: column-reverse;
    padding: 50px 10px 50px 10px;
  }

  .bootCampConteudo4 {
    padding: 50px 10px 50px 10px;
  }

  
}