@import url(./rootEReset.css);

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
}

.bannerVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  background-attachment: fixed;
  position: fixed;
}

.detalhe {
  width: 100%;
  height: 100%;
  background-image: url(../Assets/imagens/detalhe02.png);
  background-repeat: no-repeat;
  background-position: bottom;
  filter: drop-shadow(0 -75px 30px rgba(86, 145, 227, 0.8));
  /* z-index: 0; */
}


.bannerChamada {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  margin-top: -150px;
}

.bannerLogo {
  width: 320px;
  height: auto;
  margin-bottom: 50px;
}

.bannerTitulo {
  min-width: 320px;
  font-family: var(--fonte-titulo);
  color: var(--cor-branco);
  font-size: var(--clamp-titulo-1);
  text-transform: capitalize;
  text-align: center;
  padding: 0 20px;
}

.principal {
  width: 100%;
  min-height: 100vh;
  margin-top: -100px;
  background-color: var(--cor-branco);
  z-index: 2;
}

.promocao {
  padding-top: 400px;
  width: 100%;
  height: 100vh;
  background-image: url(../Assets/imagens/fotoMoca.png);
  background-repeat: no-repeat;
  background-position: top 50% right -10px;
  background-size: 50vh auto;
}

.promocaoContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.promocaoTextos {
  min-width: 320px;
  width: 60%;
  margin-top: -200px;
}

.promocaoTitulo {
  width: 100%;
  min-width: 320px;
  font-family: var(--fonte-titulo);
  font-size: var(--clamp-titulo-2);
  color: var(--cor-dark);
  margin-bottom: 16px;
}

.promocaoSubTitulo {
  width: 100%;
  min-width: 300;
  font-family: var(--fonte-titulo);
  color: var(--cor-tom);
  font-size: var(--clamp-titulo-3);
  margin-bottom: 16px;
}

.promocaoTexto {
  width: 50%;
  min-width: 300px;
  font-family: var(--fonte-padrao);
  font-weight: 500;
  line-height: 1.5;
  color: var(--cor-preto);
  font-size: var(--clamp-texto-padrao);
}


/* Cards */

.bootCamps {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;

}

.bootCampTitulo {
  width: 80%;
  min-width: 320px;
  text-align: center;
  font-family: var(--fonte-titulo);
  font-weight: 600;
  font-size: var(--clamp-titulo-3);
  color: var(--cor-destaque-2);
}

.bootCampsCards {
  margin-top: 100px;
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.bootCampsCard {
  width: 320px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 50px 75px 100px 100px var(--cor-shadow-dark-fraco);
}

.bootCampsCard:hover {
  box-shadow: inset 75px 100px 120px 120px var(--cor-shadow-dark-forte), 0 0 10px 10px var(--cor-shadow-tom-fraco);
  transition: all 300ms ease-in-out;
  
}

.bootCampsCard:hover .bootCampsCardInfo {
  opacity: 1;
  bottom: 0;
  transition: all 300ms ease-in-out;
}





/* especificos */
.desenvolvimentoWeb {
  background-image: url("https://img.freepik.com/fotos-gratis/vista-superior-do-hacker-irreconhecivel-realizando-ataque-cibernetico-a-noite_1098-18706.jpg");
}

.desenvolvimentoDeJogos {
  background-image: url("https://img.freepik.com/fotos-gratis/jogador-afro-americano-em-extase-depois-de-matar-um-oponente-em-um-jogo-de-tiro-multijogador-online-homem-na-mesa-do-computador-tendo-uma-explosao-de-felicidade-depois-de-derrotar-inimigos-e-vencer-o-nivel_482257-71076.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.analistaDeQA {
  background-image: url("https://img.freepik.com/fotos-gratis/focada-jovem-lendo-e-codificacao-no-computador-vista-lateral-de-um-programador-freelance-trabalhando-em-casa_662251-813.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iAeMarchine {
  background-image: url("https://img.freepik.com/fotos-gratis/pessoa-trabalhando-html-no-computador_23-2150038859.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cyberSeguranca {
  background-image: url("https://img.freepik.com/fotos-gratis/pessoa-trabalhando-html-no-computador_23-2150038843.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* fim dos especificos */

.bootCampsCardTextosBox {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.bootCampsCardTitulo {
  font-family: var(--fonte-titulo);
  font-size: 28px;
  color: var(--cor-branco);
}

.bootCampsCardSubTitulo {
  font-family: var(--fonte-titulo);
  font-size: 20px;
  text-align: center;
  color: var(--cor-branco);
}

.bootCampsCardTextosBoxDetalhe {
  width: 50px;
  height: 3px;
  background: var(--cor-destaque-1);
  border: 0;
}

.bootCampsCardInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  bottom: -10px;
}

.cardInfoTexto {
  font-family: var(--fonte-padrao);
  color: var(--cor-branco);
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
}

.infoajuste {
  height: 150px;
  width: 100%;
}

.cardBtn {
  font-size: 20px;
  color: var(--cor-branco);
  font-family: var(--fonte-padrao);
  font-weight: 600;
  padding: 5px 10px;
  border: 3px solid var(--cor-branco);
  border-radius: 20px;
}

.cardBtn:hover {
  background-color: var(--cor-);
  box-shadow: inset 3px 3px 5px 5px var(--cor-destaque-2);
  scale: 0.9;
  transition: all 300ms ease-in-out;
}
/* fim dos cards */

/* chamada */

.chamadaMatricula {
  width: 100%;
  height: auto;
  padding: 150px 0;
}

.chamadaBanner {
  width: 100%;
  height: 400px;
  background-image: url("../Assets/imagens/bannerchamada.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.chamadaTextos {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px
}

.chamadaTitulo {
  font-family: var(--fonte-titulo);
  font-size: var(--clamp-titulo-1);
  min-width: 320px;
  width: 80%;
  text-align: center;
  color: var(--cor-dark);
}

.chamadaSubTitulo {
  min-width: 320px;
  width: 80%;
  font-family: var(--fonte-titulo);
  font-size: var(--clamp-titulo-3);
  color: var(--cor-tom);
  text-align: left;
  padding-left: 50px;
}

.chamadaDescricao {
  font-family: var(--fonte-padrao);
  color: var(--cor-preto);
  font-size: var(--clamp-texto-padrao);
  width: 50%;
  min-width: 280px;
  font-weight: 500;
  line-height: 1.5;
  align-self: flex-start;
  padding-left: 12.5%;
}

.chamadaBtn {
  font-family: var(--fonte-titulo);
  color: var(--cor-dark);
  font-size: 24px;
  font-weight: 600;
  padding: 5px 10px;
  border: solid 5px var(--cor-dark);
  border-radius: 50px;
  box-shadow: 15px 12px 9px -2px var(--cor-shadow-dark-fraco);
  margin-top: 50px;
}

.chamadaBtn:hover {
  scale: 0.9;
  box-shadow: inset 6px 5px 8px 1px var(--cor-shadow-tom-forte);
  transition: all 300ms ease-in-out;
}



/* media querry */

@media (max-width: 890px) {


  .promocao {
    background-image: none;
    padding-top: 400px;
    padding-bottom: none;
  }

  .bootCamps {
    padding: 0 0 50px 0;
  }

  .bootCampsCards {
    padding: 0 10px;
  }

  .bootCampsCard {
    box-shadow: inset 75px 100px 120px 120px var(--cor-shadow-dark-forte), 0 0 10px 10px var(--cor-shadow-tom-fraco);
  }

  .bootCampsCardInfo {
    opacity: 1;
  }

  .chamadaTextos {
    margin-top: 50px;
  }

  .chamadaSubTitulo {
    padding-left: 0;
    margin-top: 10px;
    text-align: center;
  }

  .chamadaDescricao {
    align-self: none;
    padding-left: none;

  }

}